/* Navbar */

.navbar {
  font-family: "Poppins", sans-serif;
  /* background-color: #137c5d !important; */
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
}

#navbar ul li a {
  font-size: 18px;
  color: #137c5d;
  margin: 2, 2, 2, 2;
  font-weight: 600;
}

/* End Navbar */

/* Heaader */

#header {
  margin-bottom: 100px;
}

.imgHead {
  margin-top: 3rem;
  width: 590px;
  height: 400px;
  float: right;
}

.textHead h1 {
  float: left;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  padding-left: 2rem;
  padding-top: 5rem;
  color: #34364a;
}

.textHead p {
  float: left;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 2rem;
  color: #34364a;
}

.btn-head {
  float: left;
  width: 105px;
  border-radius: 30px !important;
  background-color: #137c5d !important;
  margin-left: 2rem;
  margin-bottom: 10px;
}

.icon li {
  display: inline;
  color: #34364a !important;
}

.iconPad {
  padding-left: 2rem;
}

/* End Heaader */

#about {
  background-color: #efeeec;
  font-family: "Poppins", sans-serif;
}

#about h1 {
  padding-bottom: 2rem;
  font-weight: 900;
  color: #34364a;
}

#about h3 {
  font-weight: 100;
  font-size: 16px;
  padding-top: 6rem;
  padding-left: 6rem;
}

.btn-res {
  border-radius: 30px !important;
  background-color: #137c5d !important;
  color: white !important;
}

.imgRes {
  float: left;
  padding-right: 20px;
  width: 500px;
}

/* Project */

#project h2 {
  font-family: "Poppins";
  padding-bottom: 2rem;
  font-weight: bolder;
  font-size: 32px;
  color: #34364a;
}
/* MEDIA */
